<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
</head>
<body>
<div>
    <a href="#" th:href="@{/login}"
       role="button"
       aria-pressed="true">Zaloguj</a>
</div>
<div>
    <a href="#" th:href="@{/register}"
       role="button"
       aria-pressed="true">Zarejestruj</a>
</div>
<div>
    <a href="#" th:href="@{/contact}"
       role="button"
       aria-pressed="true">Kontakt</a>
</div>
<div>
    <a href="#" th:href="@{/portfolio}"
       role="button"
       aria-pressed="true">Portfolio</a>
</div>
<div>
    <a href="#" th:href="@{/artists}"
       role="button"
       aria-pressed="true">Artyści</a>
</div>
</body>
</html>