<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rejestracja</title>
</head>
<body>
<div>
    <h1>Rejestracja</h1>

    <div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/register}" th:object="${user}" method="POST">
        <input type="hidden" th:field="*{id}" />

        <p>
            <label>Username:</label>
            <input type="text" th:field="*{username}" placeholder="Username" />
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></span>
        </p>
        <p>
            <label>Password:</label>
            <input type="password" th:field="*{password}" placeholder="Password" />
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></span>
        </p>
        <p>
            <label>Phone Number:</label>
            <input type="number" th:field="*{phoneNumber}" placeholder="Phone Number" />
            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red;"></span>
        </p>
        <button type="submit">Zarejestruj</button>
    </form>

    <div>
        <a th:href="@{/}" role="button" aria-pressed="true">Back to home page</a>
    </div>
</div>
</body>
</html>